In [10]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder \
    .appName('transform_testing') \
    .master('local[*]') \
    .getOrCreate()

In [9]:
df_testing = spark.read \
    .options(header=True, sep=',', inferSchema=True) \
    .csv('../new_ds/testing.csv')
df_testing.printSchema()
df_testing.show()

root
 |-- country: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- year_week: string (nullable = true)
 |-- level: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_name: string (nullable = true)
 |-- new_cases: integer (nullable = true)
 |-- tests_done: integer (nullable = true)
 |-- population: double (nullable = true)
 |-- testing_rate: double (nullable = true)
 |-- positivity_rate: double (nullable = true)
 |-- testing_data_source: string (nullable = true)

+-------+------------+---------+--------+------+-----------+---------+----------+----------+----------------+-----------------+-------------------+
|country|country_code|year_week|   level|region|region_name|new_cases|tests_done|population|    testing_rate|  positivity_rate|testing_data_source|
+-------+------------+---------+--------+------+-----------+---------+----------+----------+----------------+-----------------+-------------------+
|Austria|          AT| 2020-W15|national|    AT|    Austria|     1838|     12339| 8932664.0|138.133484031192| 14.8958586595348| Manual webscraping|
|Austria|          AT| 2020-W16|national|    AT|    Austria|      684|     58488| 8932664.0|654.765476458087| 1.16947066064834| Manual webscraping|
|Austria|          AT| 2020-W17|national|    AT|    Austria|      448|     33443| 8932664.0|374.389991608327| 1.33959273988578| Manual webscraping|
|Austria|          AT| 2020-W18|national|    AT|    Austria|      312|     26598| 8932664.0|297.761115832858| 1.17302052785924|    Country website|
|Austria|          AT| 2020-W19|national|    AT|    Austria|      264|     42153| 8932664.0|471.897297379595|0.626289943776244|    Country website|
|Austria|          AT| 2020-W20|national|    AT|    Austria|      335|     46001| 8932664.0|514.975151869588|0.728245038151345|    Country website|
|Austria|          AT| 2020-W21|national|    AT|    Austria|      265|     39348| 8932664.0|440.495690871167|0.673477686286469|    Country website|
|Austria|          AT| 2020-W22|national|    AT|    Austria|      195|     46677| 8932664.0|522.542883063776|0.417764637830195|    Country website|
|Austria|          AT| 2020-W23|national|    AT|    Austria|      227|     41063| 8932664.0|459.694890572398|0.552809098214938|    Country website|
|Austria|          AT| 2020-W24|national|    AT|    Austria|      172|     35243| 8932664.0|394.540755143147|0.488040178191414|    Country website|
|Austria|          AT| 2020-W25|national|    AT|    Austria|      248|     15775| 8932664.0|176.599052645437| 1.57210776545166|    Country website|
|Austria|          AT| 2020-W26|national|    AT|    Austria|      335|     61905| 8932664.0|693.018342568354|0.541151764800905|    Country website|
|Austria|          AT| 2020-W27|national|    AT|    Austria|      640|     45284| 8932664.0|506.948431061551| 1.41330271177458|    Country website|
|Austria|          AT| 2020-W28|national|    AT|    Austria|      596|     48936| 8932664.0|547.832091299975| 1.21791727971228|    Country website|
|Austria|          AT| 2020-W29|national|    AT|    Austria|      784|     51929| 8932664.0|581.338333110929| 1.50975370217027|    Country website|
|Austria|          AT| 2020-W30|national|    AT|    Austria|      872|     99229| 8932664.0|1110.85561933148|0.878775358010259|    Country website|
|Austria|          AT| 2020-W31|national|    AT|    Austria|      794|     57416| 8932664.0|642.764577286239| 1.38288978681901|    Country website|
|Austria|          AT| 2020-W32|national|    AT|    Austria|      722|     56554| 8932664.0|633.114600526786|  1.2766559394561|    Country website|
|Austria|          AT| 2020-W33|national|    AT|    Austria|     1462|     56622| 8932664.0|633.875851593657| 2.58203525131574|    Country website|
|Austria|          AT| 2020-W34|national|    AT|    Austria|     1907|     76497| 8932664.0|856.373865623962| 2.49290821862295|    Country website|
+-------+------------+---------+--------+------+-----------+---------+----------+----------+----------------+-----------------+-------------------+
only showing top 20 rows

In [12]:
df_testing = df_testing.withColumn('population', f.col('population').cast(LongType()))

In [26]:
df_testing.where(f.col('new_cases') == '') \
.show()

+-------+------------+---------+-----+------+-----------+---------+----------+----------+------------+---------------+-------------------+
|country|country_code|year_week|level|region|region_name|new_cases|tests_done|population|testing_rate|positivity_rate|testing_data_source|
+-------+------------+---------+-----+------+-----------+---------+----------+----------+------------+---------------+-------------------+
+-------+------------+---------+-----+------+-----------+---------+----------+----------+------------+---------------+-------------------+

In [6]:
df_dim_date = spark.read \
    .options(header=True, sep=',', inferSchema=True) \
    .csv('../dim_date/dim_date.csv')
df_dim_date = df_dim_date.withColumn('date', f.expr("cast(date as DATE)"))
df_dim_date.printSchema()
df_dim_date.show()

root
 |-- date_key: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_name: string (nullable = true)
 |-- day_of_year: integer (nullable = true)
 |-- week_of_month: integer (nullable = true)
 |-- week_of_year: integer (nullable = true)
 |-- month_name: string (nullable = true)
 |-- year_month: integer (nullable = true)
 |-- year_week: integer (nullable = true)

+--------+----------+----+-----+---+---------+-----------+-------------+------------+----------+----------+---------+
|date_key|      date|year|month|day| day_name|day_of_year|week_of_month|week_of_year|month_name|year_month|year_week|
+--------+----------+----+-----+---+---------+-----------+-------------+------------+----------+----------+---------+
|20200101|2020-01-01|2020|    1|  1|Wednesday|          1|            1|           1|   January|    202001|   202001|
|20200102|2020-01-02|2020|    1|  2| Thursday|          2|            1|           1|   January|    202001|   202001|
|20200103|2020-01-03|2020|    1|  3|   Friday|          3|            1|           1|   January|    202001|   202001|
|20200104|2020-01-04|2020|    1|  4| Saturday|          4|            1|           1|   January|    202001|   202001|
|20200105|2020-01-05|2020|    1|  5|   Sunday|          5|            2|           2|   January|    202001|   202002|
|20200106|2020-01-06|2020|    1|  6|   Monday|          6|            2|           2|   January|    202001|   202002|
|20200107|2020-01-07|2020|    1|  7|  Tuesday|          7|            2|           2|   January|    202001|   202002|
|20200108|2020-01-08|2020|    1|  8|Wednesday|          8|            2|           2|   January|    202001|   202002|
|20200109|2020-01-09|2020|    1|  9| Thursday|          9|            2|           2|   January|    202001|   202002|
|20200110|2020-01-10|2020|    1| 10|   Friday|         10|            2|           2|   January|    202001|   202002|
|20200111|2020-01-11|2020|    1| 11| Saturday|         11|            2|           2|   January|    202001|   202002|
|20200112|2020-01-12|2020|    1| 12|   Sunday|         12|            3|           3|   January|    202001|   202003|
|20200113|2020-01-13|2020|    1| 13|   Monday|         13|            3|           3|   January|    202001|   202003|
|20200114|2020-01-14|2020|    1| 14|  Tuesday|         14|            3|           3|   January|    202001|   202003|
|20200115|2020-01-15|2020|    1| 15|Wednesday|         15|            3|           3|   January|    202001|   202003|
|20200116|2020-01-16|2020|    1| 16| Thursday|         16|            3|           3|   January|    202001|   202003|
|20200117|2020-01-17|2020|    1| 17|   Friday|         17|            3|           3|   January|    202001|   202003|
|20200118|2020-01-18|2020|    1| 18| Saturday|         18|            3|           3|   January|    202001|   202003|
|20200119|2020-01-19|2020|    1| 19|   Sunday|         19|            4|           4|   January|    202001|   202004|
|20200120|2020-01-20|2020|    1| 20|   Monday|         20|            4|           4|   January|    202001|   202004|
+--------+----------+----+-----+---+---------+-----------+-------------+------------+----------+----------+---------+
only showing top 20 rows

In [7]:
df_dim_country = spark.read \
    .options(header=True, sep=',', inferSchema=True) \
    .csv('../dim_country/country_lookup.csv')
df_dim_country.printSchema()
df_dim_country.show()

root
 |-- country: string (nullable = true)
 |-- country_code_2_digit: string (nullable = true)
 |-- country_code_3_digit: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- population: integer (nullable = true)

+--------------------+--------------------+--------------------+---------+----------+
|             country|country_code_2_digit|country_code_3_digit|continent|population|
+--------------------+--------------------+--------------------+---------+----------+
|               Aruba|                  AW|                 ABW|  America|    106766|
|         Afghanistan|                  AF|                 AFG|     Asia|  38928341|
|              Angola|                  AO|                 AGO|   Africa|  32866268|
|            Anguilla|                  AI|                 AIA|  America|     15002|
|             Albania|                  AL|                 ALB|   Europe|   2862427|
|             Andorra|                  AD|                 AND|   Europe|     76177|
|United Arab Emirates|                  AE|                 ARE|     Asia|   9890400|
|           Argentina|                  AR|                 ARG|  America|  45195777|
|             Armenia|                  AM|                 ARM|   Europe|   2963234|
| Antigua and Barbuda|                  AG|                 ATG|  America|     97928|
|           Australia|                  AU|                 AUS|  Oceania|  25499881|
|             Austria|                  AT|                 AUT|   Europe|   8858775|
|          Azerbaijan|                  AZ|                 AZE|   Europe|  10139175|
|             Burundi|                  BI|                 BDI|   Africa|  11890781|
|             Belgium|                  BE|                 BEL|   Europe|  11455519|
|               Benin|                  BJ|                 BEN|   Africa|  12123198|
|Bonaire, Saint Eu...|                  BQ|                 BES|  America|     26221|
|        Burkina Faso|                  BF|                 BFA|   Africa|  20903278|
|          Bangladesh|                  BD|                 BGD|     Asia| 164689383|
|            Bulgaria|                  BG|                 BGR|   Europe|   7000039|
+--------------------+--------------------+--------------------+---------+----------+
only showing top 20 rows

In [13]:
df_testing.createOrReplaceTempView('testing')
df_dim_date.createOrReplaceTempView('dim_date')
df_dim_country.createOrReplaceTempView('dim_country')

In [14]:
df_proccessed_testing = spark.sql("""
SELECT t.country  ,
      c.country_code_2_digit   ,
      c.country_code_3_digit   ,
      t.year_week   ,
      MIN(d.date) AS week_start_date, 
      MAX(d.date) AS week_end_date ,
      t.new_cases   ,
      t.tests_done  ,
      t.population  , 
      t.testing_rate   ,
      t.positivity_rate   ,
      t.testing_data_source  
FROM testing t JOIN dim_date d ON t.year_week = concat(concat(d.year, '-W'), LPAD(d.week_of_year, 2, '0'))
    JOIN dim_country c ON t.country_code = c.country_code_2_digit
GROUP BY t.country  ,
      c.country_code_2_digit   ,
      c.country_code_3_digit   ,
      t.year_week   ,
      t.new_cases   ,
      t.tests_done  ,
      t.population  , 
      t.testing_rate   ,
      t.positivity_rate   ,
      t.testing_data_source  ;
""")
df_proccessed_testing.show()

+-------+--------------------+--------------------+---------+---------------+-------------+---------+----------+----------+----------------+-----------------+-------------------+
|country|country_code_2_digit|country_code_3_digit|year_week|week_start_date|week_end_date|new_cases|tests_done|population|    testing_rate|  positivity_rate|testing_data_source|
+-------+--------------------+--------------------+---------+---------------+-------------+---------+----------+----------+----------------+-----------------+-------------------+
|Austria|                  AT|                 AUT| 2022-W17|     2022-04-17|   2022-04-23|    40387|   1403772|   8932664|15715.0431271119| 2.87703416224287|              TESSy|
|Austria|                  AT|                 AUT| 2022-W26|     2022-06-19|   2022-06-25|     2917|     12502|    394297|3170.70634572416|  23.332266837306|              TESSy|
|Belgium|                  BE|                 BEL| 2021-W41|     2021-10-03|   2021-10-09|    22871|    352016|  11566041| 3043.5306255615| 6.49714785691559|              TESSy|
|Croatia|                  HR|                 HRV| 2021-W13|     2021-03-21|   2021-03-27|     5968|     24311|    196295|  12384.87676401| 24.5485582658056|              TESSy|
|Croatia|                  HR|                 HRV| 2021-W24|     2021-06-06|   2021-06-12|       93|     10246|    806341|1270.67828623374|0.907671286355651|              TESSy|
| Cyprus|                  CY|                 CYP| 2020-W36|     2020-08-30|   2020-09-05|       22|     16347|    896007|1824.42771094422|0.134581268734324|              Other|
| Cyprus|                  CY|                 CYP| 2021-W39|     2021-09-19|   2021-09-25|      634|    325917|    896007|36374.3810037198|0.194528054688771|              TESSy|
|Czechia|                  CZ|                 CZE| 2021-W22|     2021-05-23|   2021-05-29|     2360|   1294763|  10701777|12098.5795162803|0.182272740262118|              TESSy|
|Denmark|                  DK|                 DNK| 2020-W43|     2020-10-18|   2020-10-24|     4964|    333813|   5840045|5715.93198340081| 1.48706012048662|              TESSy|
|Denmark|                  DK|                 DNK| 2021-W15|     2021-04-04|   2021-04-10|     4841|   2795519|   5840045| 47868.107180681|0.173169990974842|              TESSy|
|Denmark|                  DK|                 DNK| 2022-W23|     2022-05-29|   2022-06-04|      414|      3391|    589755|574.984527473273|  12.208787968151|              TESSy|
|Denmark|                  DK|                 DNK| 2022-W27|     2022-06-26|   2022-07-02|     1395|      6606|    589755|1120.12615408093| 21.1171662125341|              TESSy|
|Estonia|                  EE|                 EST| 2020-W37|     2020-09-06|   2020-09-12|      160|     12443|   1330068| 935.51607887717| 1.28586353773206|              TESSy|
|Estonia|                  EE|                 EST| 2020-W51|     2020-12-13|   2020-12-19|     3696|     37056|   1330068|2786.02297025415| 9.97409326424871|              TESSy|
|Finland|                  FI|                 FIN| 2021-W06|     2021-01-31|   2021-02-06|      158|     22627|    183519|12329.4655770731|0.698280814955584|              TESSy|
|Finland|                  FI|                 FIN| 2021-W51|     2021-12-12|   2021-12-18|      581|     32069|    183519|17474.4169174507| 1.81171848202314|              TESSy|
| France|                  FR|                 FRA| 2022-W24|     2022-06-05|   2022-06-11|   310743|   1323842|  67656682|1956.70547367369| 23.4728162424217|              TESSy|
| France|                  FR|                 FRA| 2022-W26|     2022-06-19|   2022-06-25|   154120|    578574|  12174880|4752.19468282234| 26.6379063006634|              TESSy|
| France|                  FR|                 FRA| 2021-W35|     2021-08-22|   2021-08-28|     6405|    290373|   5549586|5232.33624994729| 2.20578359558223|              TESSy|
| France|                  FR|                 FRA| 2021-W49|     2021-11-28|   2021-12-04|    34198|    471900|   5845102|8073.42626356221| 7.24687433778343|              TESSy|
+-------+--------------------+--------------------+---------+---------------+-------------+---------+----------+----------+----------------+-----------------+-------------------+
only showing top 20 rows

In [49]:
# Check null and nan
cols = list(df_proccessed_testing.columns)
cols.remove('week_start_date')
cols.remove('week_end_date')
print(cols)

['country', 'country_code_2_digit', 'country_code_3_digit', 'year_week', 'new_cases', 'tests_done', 'population', 'testing_rate', 'positivity_rate', 'testing_data_source']

In [55]:
df_proccessed_testing.printSchema()

df_proccessed_testing.select([f.count(f.when(f.isnan(c), c)).alias(c) for c in cols]).show()

df_proccessed_testing.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in cols]).show()

root
 |-- country: string (nullable = true)
 |-- country_code_2_digit: string (nullable = true)
 |-- country_code_3_digit: string (nullable = true)
 |-- year_week: string (nullable = true)
 |-- week_start_date: date (nullable = true)
 |-- week_end_date: date (nullable = true)
 |-- new_cases: integer (nullable = true)
 |-- tests_done: integer (nullable = true)
 |-- population: long (nullable = true)
 |-- testing_rate: double (nullable = true)
 |-- positivity_rate: double (nullable = true)
 |-- testing_data_source: string (nullable = true)

+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|country|country_code_2_digit|country_code_3_digit|year_week|new_cases|tests_done|population|testing_rate|positivity_rate|testing_data_source|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|      0|                   0|                   0|        0|        0|         0|         0|           0|              0|                  0|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+

+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|country|country_code_2_digit|country_code_3_digit|year_week|new_cases|tests_done|population|testing_rate|positivity_rate|testing_data_source|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|      0|                   0|                   0|        0|        2|         0|         0|           0|             21|                  0|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+

In [57]:
df_proccessed_testing = df_proccessed_testing.fillna(0, ['new_cases', 'positivity_rate'])

In [58]:
df_proccessed_testing.select([f.count(f.when(f.isnan(c), c)).alias(c) for c in cols]).show()

df_proccessed_testing.select([f.count(f.when(f.col(c).isNull(), c)).alias(c) for c in cols]).show()

+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|country|country_code_2_digit|country_code_3_digit|year_week|new_cases|tests_done|population|testing_rate|positivity_rate|testing_data_source|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|      0|                   0|                   0|        0|        0|         0|         0|           0|              0|                  0|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+

+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|country|country_code_2_digit|country_code_3_digit|year_week|new_cases|tests_done|population|testing_rate|positivity_rate|testing_data_source|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+
|      0|                   0|                   0|        0|        0|         0|         0|           0|              0|                  0|
+-------+--------------------+--------------------+---------+---------+----------+----------+------------+---------------+-------------------+